.charts{
    height: 340px;
    padding: 10px;
    border-radius: 20px;
}
.addexercise{
    border-radius: 16px;
background-color: rgba(7, 0, 0, 0.896);
    padding: 20px;
}
.addexercise h4{
    font-weight: bold;
}
.addexercise form label{
    color: antiquewhite;
    font-family: 900 !important;
}
.exerciseoverview h1{
font-size: 38px;
font-weight: 800;
font-family: monospace;
text-transform: capitalize;
}
.exerciseoverview h2{
    font-family: cursive;
}
.exerciseoverview h3{
    font-size: 28px;
    font-family: monospace;

}
#createworkoutheading{
    font-weight: 700;
    font-size: 34px;
}
.form-label{
    font-size: 24px;
    font-weight: 500;
    font-family: monospace;
}

