.welcome{
    font-size: 50px;
    padding: 30px;
    font-family: cursive;
    text-align: center;
}
.welcome #name{
    font-family: monospace;
    font-weight: bold;
    font-style: italic;
}

.barchart{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
    padding: 10px;
}
.charts{
    height: 350px;
    width: auto;
    padding:15px;
    border-radius: 20px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.192); 
}
.charts input{
    margin-bottom: 5px;
    padding: 10px;
    height: 50px;
}
.charts label{
    font-size: 20px;
    font-family: monospace;
    margin-bottom: 10px;
}
.charts h2{
    font-family: cursive;
    font-size: 36px;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 600;
}
.addexercise{
    border-radius: 16px;
background-color: rgba(7, 0, 0, 0.978);
    padding: 20px;
}
.addexercise h4{
    font-weight: bold;
}
.addexercise form label{
    color: antiquewhite;
    font-family: 900 !important;
}
.dwtitle{
    font-size: 38px;
    padding:  5px 20px;
    text-transform: capitalize;
    font-weight: 500;
}
.exerciseoverview h1{
font-size: 38px;
font-weight: 800;
font-family: monospace;
text-transform: capitalize;
}
.exerciseoverview h2{
    font-family: cursive;
}
.exerciseoverview h3{
    font-size: 28px;
    font-family: monospace;

}
#createworkoutheading{
    font-weight: 700;
    font-size: 34px;
}
.form-label{
    font-size: 24px;
    font-weight: 500;
    font-family: monospace;
}

.w-search-box{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px 15px;
    border:2px solid rgba(104, 104, 104, 0.837);
    width: 470px;
}

.w-search-box input{
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
    width: 90%;
    color: black;
    margin-left: 5px;
}

.w-search-box .search-icon{
    font-size: 40px;
    cursor: pointer;
}
.w-search-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.sort-by{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 10px;
}
.sort-by h2{
    font-size: 22px;
    font-weight: 400;
}
.sort-by select{
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 140px;
    padding: 7px 10px;
    outline: none;
    border-radius: 10px;
    height: 40px;
    font-size: auto;
}
.sort-by select option{
    text-align: start !important;
    border: none;
    font-size: 18px !important;

}