.dcard {
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(168, 168, 168, 0.837);

}
.addcard {
  width: 100%;
  height: 250px;
  background: #fff;
  border-radius: 1.5rem;
  padding: 2.5rem;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(168, 168, 168, 0.837);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.addcard i {
  margin: auto;
  font-size: 80px;
}
.addcard p {
  margin: auto;
  font-size: 30px;
}

.blog-title {
  color: #22215b;
  font-size: 1.5rem;
  padding: 5px;
}
.ex-title {
  font-size: 1.2rem;
  padding: 5px;
}

.ex-title i {
  color: turquoise;
  font-size: 1.4rem;
  font-weight: bold;
}
.description {
  color: #22215b80;
  font-size: 1.2rem;
}
.description i {
  font-size: 1.1rem;
  color: rgb(17, 222, 222);
}
.blog-time {
  font-size: 0.8rem;
  color: #22215b;
}

.tags {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 5px;
}
.ctn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 400;
  background: #eef7fe;
  color: #22215b;
  cursor: pointer;
  border: none;
}
