@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



.nav-container {
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.navbar {
  height: 80px;
  position: relative;
}

.logo img {
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.menu-icon {
  display: none;
}

.nav-elements{
  padding-top: 10px;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #030205;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #000000;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000000;
}


@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
.menu-icon img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

  .nav-elements {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #F8F9FA;
    width: 0px;
    height: 100vh;
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
    align-items: start;

  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}




/* CSS */
.button-59 {
  align-items: center;
  background-color: #F8F9FA;
  border: 2px dashed #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.7px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
 background-color: #000;
 color: floralwhite;
}

.button-59:active {
  background-color: #000;
  color: floralwhite;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}